.sidebar {
    width: 550px;
    height: 100%;
    background-color: #d3b5e7;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    display: flex;
    background-color: #ba8cda;
    align-items: center;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    width: 100%;
}

.profile-section {
    width: 60px;
    height: 60px;
    background-color: #c8a3e1;
    border-radius: 50%;
    cursor: pointer;
}

.profile-picture{
    width: 60px;
    height: 60px;
}

.icon-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.icon-container {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}

.header-icon {
    height: 100%;
    width: 100%;
}

.sidebar-context {
    overflow-y: auto;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.sidebar-context::-webkit-scrollbar {
    width: 7px;
    padding-left: 2px;
}

.sidebar-context::-webkit-scrollbar-thumb {
    background-color: #ba8cda;
}

.chat-bar {
    background-color: #c8a3e1;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid #d3b5e7; 
    cursor: pointer;
    display: flex;
    align-items: center;
}

.chat-bar:hover {
    background-color: #a96fd1;
    border: none;
}

.chat-bar-container {
    margin: 10px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.friend-picture-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3b5e7;
}

.username-container {
    margin-left: 30px;
    overflow-x: hidden;
}


.username-text {
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



